<div>
  <div id='header'>
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="sales/controllers/nav/images/LOGO-DOKUKU.png" height="35px"/>
        </a>
      </div>
      <ul class="top-nav">
        <li class="home">
          <img src="sales/controllers/nav/images/userlogo.png" height="23px" style="margin-right:10px;"/>
        </li>
        <li class="home">
          <a href="" id='login'>
            <%= this.name %>
          </a>
        </li>
        <ul id='setting'>
          <li>
            <a href='/logout' title='Keluar'>
              <span class='iconlogout'>Keluar</span>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
  <div id='tabs'>
    <div class="containertabs">
    </div>
  </div>
  <div id="section">
    <div id='body' class="container">
      <h1>Profile perusahaan Anda belum di setup.</h1>
      <p>Hubungi Admin atau Owner perusahaan Anda untuk melakukan setup.</p>
    </div>
  </div>
</div>
