<div class="ModalDialog confirmDialog">
	<div class="DialogOverlay"></div>
	<div class="confirmDialogDetail">
		<div class="confirmHeader">
			<div class="warningIcon"></div>
			<div id="dialogTitle">Konfirmasi</div>
		</div>
		<table>
			<tr>
				<td>
					<div class="messageContentDiv">
						<span id="message">Apakah anda yakin akan menghapus data ini ?</span>
					</div>
					<div class="messageActionDiv">
						<button type="button" id="confirmYes">Ya</button>
						<button type="button" id="confirmNo">Tidak</button>
					</div>
				</td>
			</tr>
		<table>
	</div>
</div>