<div class="ListItemDiv">
	<div class="HeaderListDiv">Barang</div>
	<div class="ItemListContentDiv">
		<div class="ActionButtonDiv"></div>
		<table class="ItemList">
			<thead>
				<tr>
					<th class="headerList headerMark"><input type="checkbox" id="checkBoxAllList" value="" /></th>
					<th class="headerList headerEvent"></th>
					<th class="headerList headerItems" >Nama Barang</th>
					<th class="headerList headerPrice" >Harga</th>
				<tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>