<div class="settingButton" id="settingButton<%= index %>" tabIndex="<%= index %>">
	<img class="" src="/sales/controllers/items/list/images/setting.png"/>
</div>
<div class="popupEventDiv" id="popupEventDiv<%= index %>">
	<div class="itempopup"><label id="btnEdit">Ubah</label></div>
	<div class="itempopup"><label id="btnDelete">Hapus</label></div>
</div>