<div class="settingButton" id="settingButton<%= index %>" tabIndex="<%= index %>">
	<img class="settingButtonImage" src="/sales/controllers/items/list/images/setting.png"/>
</div>
<div class="popupEventDiv" id="popupEventDiv<%= index %>">
	<div class="EditImagContextMenu"></div>
	<div class="itempopup"><label id="btnEdit" tabIndex="<%= index %>">Ubah</label></div>
</div>