div.DeleteConfirmation{
	/*width : 30%;*/
	/*width:385px;*/
	border : 1px solid #ECECEC;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	margin-bottom:25px;
	position: absolute;
	top: 245px;
	left: 337px;
	background-color:#FFF;
}

.DeleteConfirmHeader{
	font-size: 18px;
	font-family: arial, verdana;
	background: #F0F0F0;
	height: 52px;
	width:100%;
}

.imgDeleteConfirm{
	background: url("/sales/controllers/customers/images/Actions.png") no-repeat;
	background-position: -273px -1025px;
	margin: 10px 15px 10px 15px;
	height: 34px;
	width: 38px;
	float : left;
}

div.textDeleteConfirmHeader
{
	padding-top:15px;
}

.BodyConfirmMassage{
	font-size: 14px;
	background: #F8F8F8;
	height: 81px;
	width:100%;
}

.ButtonConfirmYes{
	color: #6F6F6F;
	font-family: arial, verdana;
	font-size: 14px;
	margin: 20px 5px 4px 72px;
	height: 23px;
	width: 55px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	cursor: pointer;
	background: #E0E0E0;
	float: left;
	text-align: center;
	padding-top: 7px;
	border : 1px solid #BBBBBB;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	
}
.buttonDIV
{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
.ButtonConfirm{
	color: #6F6F6F;
	font-family: arial, verdana;
	font-size: 14px;
	margin: 20px 5px 4px 4px;
	height: 23px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	cursor: pointer;
	background: #E0E0E0;
	text-align: center;
	padding-top: 7px;
	border : 1px solid #BBBBBB;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	float:left
}
.deleteConfirmMessage
{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}
.Yes, .No
{
	width:55px;
}

.ApproveYes, .ApproveNo
{
    width:55px;
}

.CancelYes, .CancelNo
{
    width:55px;
}

.forceCancelYes, .forceCancelNo
{
    width:55px;
}
.Close
{
	width:100px;
}

.NoteCancelTxtArea {
    width: 96%;
    height: 86px;
    padding: 5px;
    border: 1px solid #ACD2E7;
    border-image: initial;
}