td.bodyBgCenter {width: 85%;background-color: white;}
td.bodyBgRight {
    width: 25%;
    padding: 30px 0 20px 20px;
    text-align: left;
}
div.invoicesContainer
{
	font-family:"Lucida Grande",Arial,Verdana,Helvetica,sans-serif;
	width : 100%;
	border : 1px solid #ECECEC;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
}
div.HeaderTitleDIVLeft
{
    position:inherit;
    width:94.6%;
    color: #777;
    font-size:18px;
    background:#F7F7F7;
    padding: 20px 25px;
}
div.invoiceContain
{
    width:95.7%;
    min-height:380px;
    padding:50px 20px 20px 20px;
}
div.rightbuttonarea
{
    float:right;
    color:#666;
    font-size:11px;
}
.right{text-align:right;}
.center{text-align:center;}
table#tblListInvoice{border-collapse:collapse;}
table#tblListInvoice thead {color:#666;}
table#tblListInvoice tbody tr td {font-size:12px;}
table#tblListInvoice .tblCheck{width:20px;}
table#tblListInvoice .tblNoInv{width:100px}
table#tblListInvoice .tblPO{width:100px;}
table#tblListInvoice .tblTanggal{width:90px;}
table#tblListInvoice .tblTotal{width:100px;}
table#tblListInvoice .tblDue{width:90px;}
table#tblListInvoice .tblBalance{width:100px;}
table#tblListInvoice .tblStatus{width:65px;}
table#tblListInvoice tr{border-top:1px solid #F7F7F7;border-bottom:1px Solid #F7F7F7;}
table#tblListInvoice thead tr{background-color:#F7F7F7;}
table#tblListInvoice td{padding-top:8px;padding-bottom:8px; height: 30px;}
table#tblListInvoice thead td{font-weight:bolder;}
.settingListInvoice{display:none; cursor:pointer;outline:none}
div.ContextMenuInvoice
{
	display:none;
	background-color: white;
	position: absolute;
	white-space: normal;
	width: 130px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	color: #457BD9;
	padding: 8px;
}
.invNo
{
    color:Blue;
    cursor:pointer;
    text-decoration:underline;
}
#SearchInvoice{
	border: none;
	margin-left: 18px;
	height: 16px;
	width: 254px;
	background: #F3F3F3;
}
.invNo:hover
{
    color:#4183C4;
}
.invNo{color:Blue;padding-top:4px;cursor:pointer;}
.itemContextMenuInvoice
{
padding-top: 1px;
padding-bottom: 1px;
outline: none;
color: blue;
cursor: pointer;
text-decoration: underline;
margin-top: 0px;
margin-bottom: 0px;
}
.spanContextMenuListInvoice
{
    cursor: pointer;
    outline: none;
    left: -6px;
    position: relative;
    display: block;
    width: 110px;
    padding-left: 32px;
    z-index: 1;
    height: 24px;
    padding-top: 6px;
}
.spanContextMenuListInvoice:hover
{
    background-color:#E8E8E8;
    border-radius:10px;
}
.invNo:hover{color:Red;}
.invoiceImgContextMenu{position:absolute; z-index:2;}
.EditImagContextMenu_ListInvoice{
    background: transparent url("/sales/controllers/customers/images/Actions.png") no-repeat;
    background-position: -382px -57px;
    height: 21px;
    width: 19px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}
.menuDelete
{
	list-style: none;
	margin: 0 3px 2px 0;
	padding: 5px 10px 5px 10px;
	display: block;
	text-decoration: none;
	color: black;
	font: 11px verdana;
	background: #F3F3F3;
	border: solid 1px gainsboro;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	height: 15px;
	width:60px;
}
