div.ListItemDiv
{
	border-color:#999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	padding-bottom:15px;
}
div.HeaderListDiv
{
	padding: 20px 25px;
	margin: 0;
	background: #F7F7F7;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	font-size: 21px;
}
div.ItemListContentDiv
{
	min-height:300px;
	margin: 0 25px 30px 25px;
	padding-top: 35px;
}
table.ItemList
{
	border-spacing: 0;
	width:100%;
}
table.ItemList thead tr
{
	border: solid 0 #EBEBEB;
	border-width: 1px 0;
}
th.headerList
{
	padding: 6px 10px 6px 0;
	border: solid 0 #EBEBEB;
	border-width: 1px 0;
	vertical-align: middle;
	color: #999;
	font-weight: normal;
	height: 32px;
}

th.headerMark
{
	width: 5px;
	text-align:center;
}
th.headerEvent
{
	width: 20px;
	text-align:center;
}
th.headerItems
{
	text-align:left;
	color:#DC682F;
}
th.headerPrice
{
	width:100px;
	text-align:right;
}
td.itemList{
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 7px;
	padding-top: 10px;
}
td.itemPrice
{
	text-align:right;
}
table.ItemList tbody tr:hover
{
	cursor:pointer;
	background-color:#FAFAFA;
}
div.settingButton
{
	display:none;
	margin:0;
	padding:0;
}
div.ActionButtonDiv
{
	margin-bottom:20px;
}
div.popupEventDiv
{
	display:none;
	background-color: white;
	position: absolute;
	white-space: normal;
	width: 145px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	color: #457BD9;
	padding: 8px;
}
div.itempopup{
	padding: 7px 5px 5px 7px;
	color: #457BD9;
	cursor: pointer;
	white-space: normal;
	text-decoration: none;
}
div.itempopup label
{
	cursor:pointer;
}
div.paginationDiv
{
	height:30px;
}
div.prevActive
{
	background: url("/sales/controllers/customers/images/Actions.png") no-repeat;
	background-position: -231px -267px;
}
div.prevInactive
{
	background: url("/sales/controllers/customers/images/Actions.png") no-repeat;
	background-position: -331px -267px;
}
div.nextActive
{
	background: url("/sales/controllers/customers/images/Actions.png") no-repeat;
	background-position: -255px -267px;
}
div.nextInactive
{
	background: url("/sales/controllers/customers/images/Actions.png") no-repeat;
	background-position: -355px -267px;
}
div#prevButton
{
	display: inline-block;
	padding:0px;
	margin-top:3px;
	width: 21px;
	height: 21px;
	float: left;
	cursor:pointer;
}
div#nextButton
{
	display: inline-block;
	padding:0px;
	margin-top:3px;
	width: 21px;
	height: 21px;
	float: left;
	cursor:pointer;
}
div#pageNumberDiv
{
	width:100px;
	float: left;
}
div#pageNumberDiv select#pageNumber
{
	width:40px;
}