<form id='AddCustomers'>
<div class='FormNewCustomer'>
	<div class="topBandHeaderDIV">
	<div id="TitleSpan" class="HeaderDIVLeft">Tambah Pelanggan</div>
	</div>
	<div class = 'CreateNewCustomer'>
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td> <div class="mandatoryTxt">Nama Pelanggan</div>
            
        </td>
				<td class="td_field"> <input type="text" name="Name" id="inputText_CustomerName" placeholder="Nama Pelanggan" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama Pelanggan tidak Boleh Kosong')"/>
        </td>
				<td class="error"></td>
			</tr>
			<tr>
				<td > <div class="mandatoryTxt">Mata Uang</div> </td>
				<td class="td_field">
				<select class="td_field_customer" name="Currency"  id="inputSelect_CustomerCurrency">
          <option value ="IDR" selected="selected"> IDR - Rupiah </option>
          <option value ="USD"> USD - US Dollar </option>
				</select></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Jangka Pembayaran </td>
				<td class="td_field">
				<select class="td_field_customer" name="Term" id="inputSelect_PaymentsTerms">
          <option value="15 hari" selected="selected"> 15 hari </option>
          <option value="30 hari"> 30 hari</option>
          <option value="45 hari"> 45 hari</option>
          <option value="60 hari"> 60 hari</option>
          <option value="Saat Menerima Kuitansi"> Saat Menerima Kuitansi </option>
				</select></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'CreateNewCustomer'>
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td class="labelLeft"> Alamat Pembayaran <br /><span style="font-weight: normal; line-height: 10px;">(Max 200 chars)</span></td>
				<td class="td_field"><textarea rows = "4" name="BillingAddress" cols="40" id="inputTextarea_BillingAddress" maxlength="200" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Alamat Pembayaran tidak Boleh Kosong')"></textarea></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kota</td>
				<td class="td_field"><input type="text" name="City" id="inputText_City" placeholder="Nama Kota" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama Kota tidak Boleh Kosong')"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Provinsi</td>
				<td class="td_field"><input type="text" name="Province" id="inputText_StateProvince" placeholder="Provinsi" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama Provinsi tidak Boleh Kosong')"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kode Pos</td>
				<td class="td_field"><input type="text" name="PostalCode" id="inputText_ZIPPostalCode" placeholder="Kode Pos" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Kode Pos tidak Boleh Kosong')"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Negara</td>
				<td class="td_field"><input type="text" name="State" id="inputText_Country" value = "Indonesia" readonly="readonly"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Fax</td>
				<td class="td_field"><input type="text" name="Fax"  id="inputText_Fax" placeholder="Fax" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Fax tidak Boleh Kosong')"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Alamat Pengiriman</td>
				<td class="td_field" colspan="2">
					<div class="checkboxLabelDiv">
							<input type="checkbox" name="checkbox_separateShipping" id="seperateShipping" class="seperateShipping"/>
							<label for="seperateShipping" class="labelStyle">Saya Mau Alamat Pengirimannya Terpisah</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'CreateNewCustomer' id='address'>
	<table class="FormNewCuscotmer">
		<tbody>
      <tr>
        <td class="labelLeft"></td>
        <td class="td_field">
          <img class = "copyField"/>
          <span id = "copyField" style="text-decoration:underline; cursor:pointer; color:blue; font-size : 11px">Menyalin data Alamat Pembayaran di atas</span>
        </td>
        <td class="error"></td>
      </tr>
			<tr>
				<td class="labelLeft">Alamat Pengiriman <br /><span style="font-weight: normal; line-height: 10px;">(Max 500 chars)</span></td>
				<td class="td_field"><textarea rows = "4" cols="40" name="ShipmentAddress" id="inputTextarea_NewCust_ShipmentAddress"></textarea></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kota</td>
				<td class="td_field"><input type="text" name="ShipmentCity" id="inputText_NewCust_City" placeholder="Kota"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Provinsi</td>
				<td class="td_field"><input type="text" name="ShipmentStateProvince" id="inputText_NewCust_StateProvince" placeholder="Provinsi"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kode Pos</td>
				<td class="td_field"><input type="text" name="ShipmentZIPPostalCode" id="inputText_NewCust_ZIPPostalCode" placeholder="Kode Pos"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Negara</td>
				<td class="td_field"><input type="text" name="ShipmentCountry" id="inputText_NewCust_Country" value = "Indonesia" readonly="readonly"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Fax</td>
				<td class="td_field"><input type="text" name="ShipmentFax" id="inputText_NewCust_Fax" placeholder="Fax"/></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	
<div class = 'CreateNewCustomer'>
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td class="labelLeft">Nama Anda</td>
				<td class="td_field">
					<select class="field_select" name="Salutation" id="inputSelect_PersonName">
            <option value ="" selected="selected"></option>
            <option value ="Bapak"> Bapak </option>
            <option value ="Ibu"> Ibu. </option>
					</select>
					<input type="text" class="text" name="FirstName" id="inputText_FirstName" placeholder="Nama Awal" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama Awal Customer tidak Boleh Kosong')"/></td>
				<td class="error"><input type="text" class="text" name="LastName" id="inputText_LastName" placeholder="Nama Akhir"/></td>
			</tr>
			<tr>
				<td class="labelLeft">Telpon#</td>
				<td class="td_field"><input type="text" name="MobilePhone" id="inputText_Seluler" placeholder="Seluler"/></td>
				<td class="error"><input type="text" class="text" name="Phone" id="inputText_Phone" placeholder="Telpon"/></td>
			</tr>
			<tr>
				<td class="labelLeft">E-mail</td>
				<td class="td_field"><input style="width:99%" type="email" name="Email" id="inputText_Email"  placeholder="E-mail" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Email Harus Di Isi')"/></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'CreateNewCustomer' id='DivCustomField'>
		<img class = "add"/>
		<span id = "addCustomField" style="text-decoration:underline; cursor:pointer; color:blue; font-size : 11px">Tambah Informasi</span>
	</div>
	<div class = 'CreateNewCustomer' id="CustomField">
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td>
					<div>
					<h3>Menambah Rincian</h3>
					<span style="font-size : 12px;">Tambahan Informasi Pelanggan Perusahaan Seperti No PPN, No Perusahaan dll</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<table class="Field">
						<tbody>
							<tr>
								<td class = "fieldCustom"><div>Field Name</div></td>
								<td class = "space"></td>
								<td class="value"><div>Value</div></td>
							</tr>
							<tr>
								<td class = "fieldCustom"> <input type="text" name="AddFieldCustID1" id="inputText_FieldName1"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="AddValueCustID1" id="inputText_ValueName1"/> </td>
							</tr><tr>
								<td class = "fieldCustom"> <input type="text" name="AddFieldCustID2" id="inputText_FieldName2"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="AddValueCustID2" id="inputText_ValueName2"/> </td>
							</tr><tr>
								<td class = "fieldCustom"> <input type="text" name="AddFieldCustID3" id="inputText_FieldName3"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="AddValueCustID3" id="inputText_ValueName3"/> </td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxLabelDiv">
							<input type="checkbox" name="checkbox_specifyShippingAddress" id="inputCheckbox_SpecifyShippingAddress"/>
							<label for="inputCheckbox_SpecifyShippingAddress" class="labelStyle"> Jadi Informasi Tambahan Ini Untuk Digunakan Di Perusahaan Ini </label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div style="margin-top:30px">
		<p align="center" style="font-size:11px">
			<input id="EditCustomerSave" type="submit" class="CreateCustomerBtn" name="save" value="Save"/>
			or
			<span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px">Cancel</span>
		</p>
	</div>
</div>
</form>