<div class="ContextMenuCustomer" id="ContextMenuCustomer<%= index %>">
<table id="tblComntextMenuCustomer" width="100%">
    <tr>
        <td id="tdComntextMenuCustomer">
            <div class="EditImagContextMenu"></div>
            <div class="itemContextMenuCustomer">
                <span class="EditContextMenuCustomer" id="<%=id%>">Ubah</span>
            </div>
        </td>
    </tr>
    <tr>
        <td id="td1">
            <div class="CreateInvoiceContextMenuCustomer"></div>
            <div class="itemContextMenuCustomer">
                <span class="EditContextMenuCustomer" id="<%=id%>">Buat Invoice</span>
            </div>
        </td>
    </tr>
</table>
</div>