<div class="ContextMenuCustomer" id="ContextMenuCustomer<%= index %>">
 <div class="EditImagContextMenu"></div>
 <div class="itemContextMenuCustomer">
    <span id="EditContextMenuCustomer" value="<%=id%>">Ubah</span>
  </div>
</div>