<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongo.config" type="dokuku.sales.config.MongoConfigSection, dokuku.sales.config"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <mongo.config database="fixture" username="admin" password="S31panas" admin="true" replicaSetName="dokukuSet"
                slaveOk="true" connectionMode="ReplicaSet">
    <serverAddresses>
      <add server="tcloud2.bonastoco.com" port="27021"/>
      <add server="tcloud2.bonastoco.com" port="27022"/>
    </serverAddresses>
    <slaveAddresses>
      <add server="tcloud2.bonastoco.com" port="27023"/>
    </slaveAddresses>
  </mongo.config>
</configuration>