<div class="ContextMenuPaymentTerms" id="ContextMenuPaymentTerms<%= index %>">
<table id="tblContextMenuPaymentTerms" width="100%">
    <tr>
        <td id="tdContextMenuPaymentTerms">
            <div class="EditImageContextPaymentTerms"></div>
            <div class="itemContextMenuPaymentTerms">
                <span class="EditContextMenuPaymentTerms" id="<%=id%>">Ubah</span>
            </div>
        </td>
    </tr>
</table>
</div>