<div id='PaymentTermsDiv'>
  <table class='PaymentTermsTable'>
    <tbody>
      <tr>
        <td id ='formListPaymentTerms'>
          <div class ='ListPaymentTermsDiv'>
            <div class="HeaderDIVListPaymentTerms" id="TitleSpan">Termin Pembayaran</div>
            <div class="classPesan"></div>
            <div class="ClassSubMenuDataPaymentTerms" id="idKosong">
              <table width="900px">
                <tr>
                  <td width="400px">
                    <table>
                      <tr>
                        <td>
                          <div class="menuLeft" id="deletePaymentTerms">
                            <div class="floatLeft">Hapus</div>
                            <div class="iconHapus"></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class='ClassListPaymentTerms'>
              <table class='dataPaymentTerms' width='100%' style='border-collapse:collapse;'>
                <thead>
                  <tr style='background :#F0F0F0'>
                    <th class='thDataPaymentTerms tdDataPaymentTermsCenter textAlignRight' style='width: 6%;'>
                      <input type="checkbox" id="checkboxAllPaymentTerms" class="SelectAllPaymentTerms"/>
                    </th>
                    <th class='thDataPaymentTerms tdDataPaymentTermsCenter' style='width: 4%;'></th>
                    <th class='thDataPaymentTerms tdDataPaymentTermsLeft' style='width: 50%;'>Kode</th>                   
                    <th class='thDataPaymentTerms tdDataPaymentTermsLeft'style='width: 20%;'> Jangka Waktu</th>
                    
                  </tr>
                </thead>
                <tbody class='BodyDataPaymentTerms'>

                </tbody>
              </table>
            </div>
           
            </div>
          </div>
        </td>
        <td class='MenuFormListPaymentTerms'>
          <div class='BtnTambahPaymentTerms' id='btn-add-PaymentTerms'>Tambah Termin</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='ConfirmationPaymentTerms'>
  <table>
    <tr>
      <td>
        <div class='ConfirmationHeaderPaymentTerms'>
          <div class='imagesConfirm'></div>
          <div class='isiConfirmationHeaderPaymentTerms'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='BodyConfirmationPaymentTerms'>
          <div>Apakah anda yakin akan menghapus data ini</div>
          <div class='ButtonConfirmationPaymentTermsYa'>Ya</div>
          <div class='ButtonConfirmationPaymentTermsTidak'>Tidak</div>
        </div>
      </td>
    </tr>
  </table>
</div>
