<div class='mainFrame'>
  <div class="topBandHeaderDIV">
    <div class="HeaderDIVLeft" id="TitleSpan">Setup Auto Numbering</div>
  </div>
  <div class="error" id="errorCreateItemDiv"></div>
  <div id="successMessage">&nbsp;</div>
  <div class="mainDivWidth">
    <form id="autoNumberForm">
      <div class="ie-form AutoNumberFormDiv">
        <table>
          <tbody>
            <tr>
              <td class="labelLeft">
                <span class="requiredFieldLabel">Mode</span>
              </td>
              <td class="autonumberfield">
                <input type="radio" name="Mode" id="mode" value="0" class="default"/> Default
                <p><input type="radio" name="Mode" id="mode" value="1" class="yearly"/> Yearly</p>
                <p><input type="radio" name="Mode" id="mode" value="2" class="monthly"/> Monthly</p>
              </td>
            </tr>
            <tr>
              <td class="labelLeft">
                <span class="requiredFieldLabel">Prefix</span>
              </td>
              <td class="autonumberfield">
                <input type="text" name="Prefix" id="input-prefix" width="50%" oninput="setCustomValidity('')" oninvalid="setCustomValidity('prefix tidak boleh kosong')" required="required" value="<%= item.prefix %>"/>
              </td>
              <td>
                <div class="messageVerify "></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="submitFormDiv">
        <input type="submit" Value="Simpan" />
        <input type="button" value="Batal" id="cancelAutoNumber" />
      </div>
    </form>
  </div>
</div>