<form id='EditCustomers'>
<div class='FormNewCustomer'>
	<div class="topBandHeaderDIV">
	<div id="TitleSpan" class="HeaderDIVLeft">Tambah Pelanggan</div>
	</div>
	<div class = 'CreateNewCustomer'>
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td> <div class="mandatoryTxt">Nama Pelanggan</div>
            
        </td>
				<td class="td_field"> <input type="text" name="EditCustomerName" id="Edit_inputText_CustomerName"/>
        </td>
				<td class="error"></td>
			</tr>
			<tr>
				<td > <div class="mandatoryTxt">Mata Uang</div> </td>
				<td class="td_field">
				<select class="td_field_customer" name="EditCustomerCcy"  id="Edit_inputSelect_CustomerCurrency">
          <option value ="IDR" selected="selected"> IDR - Rupiah </option>
          <option value ="USD"> USD - US Dollar </option>
				</select></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Jangka Pembayaran </td>
				<td class="td_field">
				<select class="td_field_customer" name="Editterm" id="Edit_inputSelect_PaymentsTerms">
          <option value="15 hari" selected="selected"> 15 hari </option>
          <option value="30 hari"> 30 hari</option>
          <option value="45 hari"> 45 hari</option>
          <option value="60 hari"> 60 hari</option>
          <option value="Saat Menerima Kuitansi"> Saat Menerima Kuitansi </option>
				</select></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'EditCreateNewCustomer'>
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td class="labelLeft"> Alamat Pembayaran <br /><span style="font-weight: normal; line-height: 10px;">(Max 200 chars)</span></td>
				<td class="td_field"><textarea rows = "3" name="EditbillingAddress" cols="28" id="Edit_inputTextarea_BillingAddress" maxlength="200"></textarea></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kota</td>
				<td class="td_field"><input type="text" name="Editcity" id="Edit_inputText_City"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Provinsi</td>
				<td class="td_field"><input type="text" name="Editprovince" id="Edit_inputText_StateProvince"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kode Pos</td>
				<td class="td_field"><input type="text" name="Editzip" id="Edit_inputText_ZIPPostalCode"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Negara</td>
				<td class="td_field"><input type="text" name="Editcountry" id="Edit_inputText_Country"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Fax</td>
				<td class="td_field"><input type="text" name="Editfax"  id="Edit_inputText_Fax"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Alamat Pengiriman</td>
				<td class="td_field" colspan="2">
					<div class="checkboxLabelDiv">
							<input type="Editcheckbox" name="Edit_checkbox_separateShipping" id="EditseperateShipping" class="EditseperateShipping"/>
							<label for="EditseperateShipping" class="labelStyle">Saya Mau Alamat Pengirimannya Terpisah</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'EditCreateNewCustomer' id='address'>
	<table class="FormNewCuscotmer">
		<tbody>
      <tr>
        <td class="labelLeft"></td>
        <td class="td_field">
          <img class = "copyField"/>
          <span id = "copyField" style="text-decoration:underline; cursor:pointer; color:blue; font-size : 11px">Menyalin data Alamat Pembayaran di atas</span>
        </td>
        <td class="error"></td>
      </tr>
			<tr>
				<td class="labelLeft">Alamat Pengiriman <br /><span style="font-weight: normal; line-height: 10px;">(Max 500 chars)</span></td>
				<td class="td_field"><textarea rows = "3" cols="28" name="EditshipmentAddress" id="Edit_inputTextarea_NewCust_ShipmentAddress"></textarea></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kota</td>
				<td class="td_field"><input type="text" name="EditshipmentCity" id="Edit_inputText_NewCust_City"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Provinsi</td>
				<td class="td_field"><input type="text" name="EditshipmentStateProvince" id="Edit_inputText_NewCust_StateProvince"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Kode Pos</td>
				<td class="td_field"><input type="text" name="Edit_shipmentZIPPostalCode" id="Edit_inputText_NewCust_ZIPPostalCode"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Negara</td>
				<td class="td_field"><input type="text" name="EditshipmentCountry" id="Edit_inputText_NewCust_Country" value = "Indonesia" readonly="readonly"/></td>
				<td class="error"></td>
			</tr>
			<tr>
				<td class="labelLeft">Fax</td>
				<td class="td_field"><input type="text" name="EditshipmentFax" id="Edit_inputText_NewCust_Fax"/></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	
<div class = 'EditCreateNewCustomer'>
	<table class="EditormNewCuscotmer">
		<tbody>
			<tr>
				<td class="labelLeft">Nama Anda</td>
				<td class="td_field">
					<select class="field_select" name="Editsalutation" id="Edit_inputSelect_PersonName">
            <option value ="" selected="selected"></option>
            <option value ="Bapak"> Bapak </option>
            <option value ="Ibu"> Ibu </option>
					</select>
					<input type="text" class="text" name="EditfirstName" id="Edit_inputText_FirstName"/></td>
				<td class="error"><input type="text" class="text" name="EditlastName" id="Edit_inputText_LastName"/></td>
			</tr>
			<tr>
				<td class="labelLeft">Telpon#</td>
				<td class="td_field"><input type="text" name="Editcellular" id="Edit_inputText_Seluler"/></td>
				<td class="error"><input type="text" class="text" name="Edit_telephone" id="Edit_inputText_Phone"/></td>
			</tr>
			<tr>
				<td class="labelLeft">E-mail</td>
				<td class="td_field"><input type="email" name="Editemail" id="Edit_inputText_Email"/></td>
				<td class="error"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class = 'CreateNewCustomer' id='DivCustomField'>
		<img class = "add"/>
		<span id = "addCustomField" style="text-decoration:underline; cursor:pointer; color:blue; font-size : 11px">Tambah Informasi</span>
	</div>
	<div class = 'EditCreateNewCustomer' id="CustomField">
	<table class="FormNewCuscotmer">
		<tbody>
			<tr>
				<td>
					<div>
					<h3>Menambah Rincian</h3>
					<span style="font-size : 12px;">Tambahan Informasi Pelanggan Perusahaan Seperti No PPN, No Perusahaan dll</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<table class="EditField">
						<tbody>
							<tr>
								<td class = "fieldCustom"><div>Field Name</div></td>
								<td class = "space"></td>
								<td class="Editvalue"><div>Value</div></td>
							</tr>
							<tr>
								<td class = "fieldCustom"> <input type="text" name="Edit_add_fieldCustID1" id="Edit_inputText_FieldName1"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="Edit_add_valueCustID1" id="Edit_inputText_ValueName1"/> </td>
							</tr><tr>
								<td class = "fieldCustom"> <input type="text" name="Edit_add_fieldCustID2" id="Edit_inputText_FieldName2"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="Edit_add_valueCustID2" id="Edit_inputText_ValueName2"/> </td>
							</tr><tr>
								<td class = "fieldCustom"> <input type="text" name="Edit_add_fieldCustID3" id="Edit_inputText_FieldName3"/> </td>
								<td class = "space"></td>
								<td class="value"> <input type="text" name="Edit_add_valueCustID3" id="Edit_inputText_ValueName3"/> </td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxLabelDiv">
							<input type="checkbox" name="Edit_checkbox_specifyShippingAddress" id="Edit_inputCheckbox_SpecifyShippingAddress"/>
							<label for="inputCheckbox_SpecifyShippingAddress" class="labelStyle"> Jadi Informasi Tambahan Ini Untuk Digunakan Di Perusahaan Ini </label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div style="margin-top:30px">
		<p align="center" style="font-size:11px">
			<input id="EditCustomerSave" type="submit" class="CreateCustomerBtn" name="Edit" value="Ubah"/>
			or
			<span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px">Keluar</span>
		</p>
	</div>
</div>
</form>