<div class="ContextMenuPaymentMode" id="ContextMenuPaymentMode<%= index %>">
<table id="tblContextMenuPaymentMode" width="100%">
    <tr>
        <td id="tdContextMenuPaymentMode">
            <div class="EditImageContextPaymentMode"></div>
            <div class="itemContextMenuPaymentMode">
                <span class="EditContextMenuPaymentMode" id="<%=id%>">Ubah</span>
            </div>
        </td>
    </tr>
</table>
</div>