<div id='PaymentModeDiv'>
  <table class='PaymentModeTable'>
    <tbody>
      <tr>
        <td id ='formListPaymentMode'>
          <div class ='ListPaymentModeDiv'>
            <div class="HeaderDIVListPaymentMode" id="TitleSpan">Jenis Pembayaran</div>
            <div class="classPesan"></div>
            <div class="ClassSubMenuDataPaymentMode" id="idKosong">
              <table width="900px">
                <tr>
                  <td width="400px">
                    <table>
                      <tr>
                        <td>
                          <div class="menuLeft" id="deletePaymentMode">
                            <div class="floatLeft">Hapus</div>
                            <div class="iconHapus"></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class='ClassListPaymentMode'>
              <table class='dataPaymentMode' width='100%' style='border-collapse:collapse;'>
                <thead>
                  <tr style='background :#F0F0F0'>
                    <th class='thDataPaymentMode tdDataPaymentModeCenter textAlignRight' style='width: 6%;'>
                      <input type="checkbox" id="checkboxAllPaymentMode" class="SelectAllPaymentMode"/>
                    </th>
                    <th class='thDataPaymentMode tdDataPaymentModeCenter' style='width: 4%;'></th>
                    <th class='thDataPaymentMode tdDataPaymentModeLeft' style='width: 50%;'>Kode</th>
                    <th class='thDataPaymentMode tdDataPaymentModeLeft'style='width: 20%;'> Nama</th>
                    
                  </tr>
                </thead>
                <tbody class='BodyDataPaymentMode'>

                </tbody>
              </table>
            </div>
           
            </div>
          </div>
        </td>
        <td class='MenuFormListPaymentMode'>
          <div class='BtnTambahPaymentMode' id='btn-add-PaymentMode'>Jenis Pembayaran</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='ConfirmationPaymentMode'>
  <table>
    <tr>
      <td>
        <div class='ConfirmationHeaderPaymentMode'>
          <div class='imagesConfirm'></div>
          <div class='isiConfirmationHeaderPaymentMode'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='BodyConfirmationPaymentMode'>
          <div>Apakah anda yakin akan menghapus data ini</div>
          <div class='ButtonConfirmationPaymentModeYa'>Ya</div>
          <div class='ButtonConfirmationPaymentModeTidak'>Tidak</div>
        </div>
      </td>
    </tr>
  </table>
</div>
