<div class='DeleteConfirmation'>
  <table>
    <tr>
      <td>
        <div class='DeleteConfirmHeader'>
          <div class='imgDeleteConfirm'></div>
          <div class='textDeleteConfirmHeader'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td width='350px'>
        <div class='BodyConfirmMassage'>
          
        </div>
      </td>
    </tr>
  </table>
</div>