<div class="ModalDialog confirmDialog">
	<div class="DialogOverlay"></div>
	<div class="confirmPaymentDialogDetail">
		<div class="confirmHeader">
			<div class="warningIcon"></div>
			<div id="dialogTitle">Konfirmasi
      </div>
		</div>
		<table>
			<tr>
				<td>
					<div class="messageContentDiv">
						<span id="message">Pada rekap pembayaran, status pembayaran berubah dari draft ke open  ?</span>
					</div>
					<div class="messageActionDiv">
						<button type="button" id="confirmPaymentYes">Ya</button>
						<button type="button" id="confirmPaymentNo">Tidak</button>           
            </div>
				</td>
			</tr>
		<table>
	</div>
</div>