div.divcontainerFormInvoice{
	width:80%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	padding-bottom:20px;
	margin-bottom:20px;
}
div.divheaderFormInvoice
{
    width:95.6%;
    color: #777;
    font-size:18px;
    background:#F7F7F7;
    padding: 20px;
}
div.newInvoiceContain{padding: 0 25px;}
div.divInvoiceGroup
{
	margin:20px;
	padding:20px;
	border-top : 1px solid #ECECEC;
	border-bottom : 1px solid #ECECEC;
	background: #F7F7F7;
}
table#itemInvoice
{
    margin:20px;
    width:95.6%;
    border-collapse:collapse;
    padding:0px;
    position:inherit;
}
table#itemInvoice thead
{
    background-color:#F7F7F7;
    color:#777;
    font-size:11px;
    font-weight:bold;
}
table#itemInvoice td{padding-top:10px;padding-bottom:10px;}
table#itemInvoice td.barang{width:170px;}
table#itemInvoice td.desc{width:210px;}
table#itemInvoice td.qty{width:70px;}
table#itemInvoice td.rate{width:70px;}
table#itemInvoice td.disc{width:70px;}
table#itemInvoice td.tax{width:100px;}
table#itemInvoice td.dltItem{width:10px;}
table#itemInvoice td input,table#itemInvoice td textarea,table#itemInvoice td select
{
    width:100%;
    border:1px Solid #a2ddff;
    font-size:11px;
}
table#itemInvoice tbody{font-size:12px;color:#777;}
table#itemInvoice tbody tr td{vertical-align:top;border-bottom:1px solid #eaeaea;}
table#itemInvoice tbody tr:hover{background-color:#FAFAFA;}
table#itemInvoice tfoot{font-size:11px;}
table#itemInvoice tfoot td.borderbottom{border-bottom:1px Solid #eaeaea;}
table#itemInvoice tfoot td.graybgcolor{background-color:#F7F7F7;}
.boldlabel{font-size: 11px;color: #666;font-weight: bold;}
.CustomerMessageTxtArea, .TermsandConditionsTxtArea {
    width: 96%;
    height: 86px;
    padding: 5px;
    border: 1px solid #ACD2E7;
    border-image: initial;
}
span#addItemRow{cursor:pointer;color:#777;font-weight:bold;}
span#addItemRow:hover{color:#4183C4;}
.TermsandConditionsTxtArea {height: 86px;}
div.clsDeleteItem{display:none;color:#d80000;cursor:pointer;font-weight:bold;}
span.amount{text-align:right;float:right;}
tr.errItemNotFound{background-color:#fff5f5;}