body {
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	margin:0px;
	padding:0px;
	min-width: 950px;
}
div#header{
	height: 47px;
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
	background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
	position:relative;
	border-bottom: 1px solid #CACACA;
	z-index: 10;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}
div.container{
	width: 960px;
	margin: auto;
}
ul.top-nav{
	list-style : none;
	line-height: 26px;
	float: right!important;
	padding: 10px 0;
	margin: 0 0 0 20px;
}
ul.top-nav li{
	float: left;
	padding: 0 0 0 20px;
}
ul.top-nav li.login a {
	color: #2D9F00;
}
ul.top-nav a:hover {
	text-decoration: none;
	color: #4183C4;
}

ul.menu-nav{
	list-style : none;
	line-height: 26px;
	float: left!important;
	padding: 10px 0;
	margin: 0 0 0 20px;
}
ul.menu-nav li{
	float: left;
	padding: 0 0 0 20px;
}
div.mainFrame
{
	width:988px;
	/*border: 1px solid grey;*/
	border-color:#999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	margin-left:30px;
}

div.topBandHeaderDIV {
	padding: 20px 25px;
	margin: 0;
	background: #F7F7F7;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.HeaderDIVLeft {
	font-size: 21px;
}

div.mainDivWidth
{
	margin: 0 25px 30px 25px;
	padding-top: 35px;
	text-align: left;
}

div.ProductFormDiv
{
	background-color: #F7F7F7;
	margin: 0;
	padding: 17px 0;
	margin-bottom: 25px;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
}
.labelLeft
{
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
	color: #666;
	width: 152px;
	vertical-align: top;
}

.requiredFieldLabel
{
	color: #9C0000;
}
.field
{
	width: 272px;
}

.field input, .field textarea, .field select
{
	margin-bottom: 15px;
	border: 1px solid #ACD2E7;
	border-image: initial;
	width:100%;
}

#createTaxLink
{
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}

div.submitFormDiv
{
	margin-top:30px;
	text-align: -webkit-center;
}
div.submitFormDiv span
{
	height: 20px;
	position: relative;
	top: 1px;
}

div.submitFormDiv a.cancelSubmitLink
{
	cursor: pointer;
	text-decoration: underline;
	color: red;
}
