<div>
  <div class="error" id="errorCreateTaxDiv"></div>
  <form id="taxForm">
    <table>
      <tbody>
        <tr>
          <td class="labelLeft">
            <span class="requiredFieldLabel">Pajak</span>
          </td>
          <td class="field">
            <input type="text" id="taxName" />
          </td>
        </tr>
        <tr>
          <td class="labelLeft">
            <span class="requiredFieldLabel">Persentase(%)</span>
          </td>
          <td class="field">
            <input type="text" id="percentTax" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="submitFormDiv">
      <input type="button" class="submitTax" Value="Simpan" />
      <input type="button" Value="Batal" />
    </div>
  </form>
</div>