<form>
	<table>
		<tbody>
			<tr>
				<td class="labelLeft"><span class="requiredFieldLabel">Pajak</span></td>
				<td class="field"><input type="text" id="taxName" required /></td>
			</tr>
			<tr>
				<td class="labelLeft"><span class="requiredFieldLabel">Persentase(%)</span></td>
				<td class="field"><input type="text" id="percentTax" required /></td>
			</tr>
		</tbody>
	</table>
	<div class="submitFormDiv" id="submitNewTax">
		<input type="submit" Value="Simpan" />
		<input type="button" Value="Batal" />
	</div>	
</form>