<div class='mainFrame'>
	<div class="topBandHeaderDIV">
		<div class="HeaderDIVLeft" id="TitleSpan">Barang Baru</div>
	</div>
	<div class="error" id="errorCreateItemDiv"></div>
	<div class="mainDivWidth">
		<form id="createItemsForm">
			<div class="ie-form ProductFormDiv">
				<table>
					<tbody>
            <tr>
              <td class="labelLeft">
                <span class="requireditemfieldLabel">Kode Barang</span>
              </td>
              <td class="itemfield">
                <input type="text" id="itemCode" name="itemCode" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Kode barang tidak boleh kosong')" />
              </td>
              <td><div class="messageVerify Code"></div></td>
            </tr>
            <tr>
              <td class="labelLeft">
                <span class="requireditemfieldLabel">Barcode</span>
              </td>
              <td class="itemfield">
                <input type="text" id="barcode" name="barcode" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Barcode barang tidak koleh kosong')" />
              </td>
              <td><div class="messageVerify Barcode"></div></td>
            </tr>
						<tr>
							<td class="labelLeft"><span class="requireditemfieldLabel">Nama Barang</span></td>
							<td class="itemfield"><input type="text" id="itemName" name="itemName" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama barang tidak boleh kosong')" /></td>
						</tr>
						<tr>
							<td class="labelLeft">
							Deskripsi Barang
							<br />
							<span class="f11 ffva lightGrey  lineHeight" style="font-weight:normal;">(Maks 500 karakter)</span>
							</td>
							<td class="itemfield"><textarea class="textAreaitemfield" row="4" style="height:80px;" id="description" name="description" /></td>
						</tr>
						<tr>
							<td class="labelLeft"><span class="requireditemfieldLabel">Harga(Rp.)</span></td>
							<td class="itemfield"><input type="text" id="itemPrice" name="itemPrice" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Harga barang tidak boleh kosong')" /></td>
						</tr>
						<tr>
							<td class="labelLeft">Pajak</td>
							<td class="itemfield">
								<select id="tax" style="margin-bottom:0;" name="tax">
								  <option value="0">NONE</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="labelLeft" height="5"> </td>
							<td height="5">
								<a id="createTaxLink" class="linkNew" href="">Pajak Baru</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="submitFormDiv">
				<input type="submit" Value="Simpan" />
				<input type="button" value="Batal" id="cancelCreateItem" />
			</div>	
		</form>
	</div>
</div>