<div class='mainFrame'>
	<div class="topBandHeaderDIV">
		<div class="HeaderDIVLeft" id="TitleSpan">New Item</div>
	</div>
	<div id="error"></div>
	<div class="mainDivWidth">
		<form name="ProductForm" id="createItemsForm">
			<div class="ie-form ProductFormDiv">
				<table>
					<tbody>
						<tr>
							<td class="labelLeft"><span class="requiredFieldLabel">Nama Barang</span></td>
							<td class="field"><input type="text" id="itemName" required /></td>
							<td id="errorItemName"></td>
						</tr>
						<tr>
							<td class="labelLeft">
							Deskripsi Barang
							<br />
							<span class="f11 ffva lightGrey  lineHeight" style="font-weight:normal;">(Maks 500 karakter)</span>
							</td>
							<td class="field"><textarea class="textAreaField" row="4" style="height:60px; width:266px;" id="description" /></td>
						</tr>
						<tr>
							<td class="labelLeft"><span class="requiredFieldLabel">Harga</span></td>
							<td class="field"><input type="text" id="itemPrice" required /></td>
							<td id="errorPrice"></td>
						</tr>
						<tr>
							<td class="labelLeft">Pajak</td>
							<td class="field"><select id="tax" style="margin-bottom:0;"><option></option></select></td>
						</tr>
						<tr>
							<td class="labelLeft" height="5"> </td>
							<td height="5">
								<a id="createTaxLink" class="linkNew" href="">Pajak Baru</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="submitFormDiv">
				<input type="submit" Value="Simpan" />
				<span>atau</span>
				<a class="cancelSubmitLink">Batal</a>
			</div>	
		</form>
	</div>
</div>