<div class='mainFrame'>
	<div class="topBandHeaderDIV">
		<div class="HeaderDIVLeft" id="TitleSpan">Barang Baru</div>
	</div>
	<div class="error" id="errorCreateItemDiv"></div>
	<div class="mainDivWidth">
		<form id="createItemsForm">
			<div class="ie-form ProductFormDiv">
				<table>
					<tbody>
            <tr>
              <td class="labelLeft">
                <span>Kode Barang</span>
              </td>
              <td class="field">
                <input type="text" id="itemCode" name="itemCode" />
              </td>
            </tr>
            <tr>
              <td class="labelLeft">
                <span>Barcode</span>
              </td>
              <td class="field">
                <input type="text" id="barcode" name="barcode" />
              </td>
            </tr>
						<tr>
							<td class="labelLeft"><span class="requiredFieldLabel">Nama Barang</span></td>
							<td class="field"><input type="text" id="itemName" name="itemName" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Nama barang tidak Boleh Kosong')"/></td>
						</tr>
						<tr>
							<td class="labelLeft">
							Deskripsi Barang
							<br />
							<span class="f11 ffva lightGrey  lineHeight" style="font-weight:normal;">(Maks 500 karakter)</span>
							</td>
							<td class="field"><textarea class="textAreaField" row="4" style="height:80px;" id="description" name="description" /></td>
						</tr>
						<tr>
							<td class="labelLeft"><span class="requiredFieldLabel">Harga(Rp.)</span></td>
							<td class="field"><input type="text" id="itemPrice" name="itemPrice" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Harga barang tidak Boleh Kosong')" /></td>
						</tr>
						<tr>
							<td class="labelLeft">Pajak</td>
							<td class="field"><select id="tax" style="margin-bottom:0;" name="tax"><option value="PPn">PPn</option></select></td>
						</tr>
						<tr>
							<td class="labelLeft" height="5"> </td>
							<td height="5">
								<a id="createTaxLink" class="linkNew" href="">Pajak Baru</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="submitFormDiv">
				<input type="submit" Value="Simpan" />
				<input type="button" value="Batal" id="cancelCreateItem" />
			</div>	
		</form>
	</div>
</div>