<div class="ContextMenuCurrency" id="ContextMenuCurrency<%= index %>">
<table id="tblContextMenuCurrency" width="100%">
    <tr>
        <td id="tdContextMenuCurrency">
            <div class="EditImageContextCurrency"></div>
            <div class="itemContextMenuCurrency">
                <span class="EditContextMenuCurrency" id="<%=id%>">Ubah</span>
            </div>
        </td>
    </tr>
</table>
</div>