<div class='mainFrame'>
  <div class="topBandHeaderDIV">
    <div class="HeaderDIVLeft" id="TambahMU">Ubah Mata Uang</div>
  </div>
  <div class="error" id="errorCreateItemDiv"></div>
  <div class="mainDivWidth">
    <div id="editCurrencyForm">
      <div class="ie-form AddCurrencyFormDiv">
        <table>
          <tbody>
            <tr>
              <td class="labelLeft">
                <span class="requiredFieldLabel">Kode Mata Uang</span>
              </td>
              <td class="field">
                <select id="editName" name="mataUang">
                  <option value="IDR">IDR</option>
                  <option value="USD">USD</option>
                </select>                
              </td>
            </tr>
            <tr>
              <td class="labelLeft">
                <span class="requiredFieldLabel">Lambang Mata Uang</span>
              </td>
              <td class="field">
                <input type="hidden" name="_id" id="_id" hidden="hidden" value="<%= this._id %>"/>
                <input type="text" name="lambang" id="editSymbol" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Lambang mata uang tidak boleh kosong')" required="required" value="<%= this.Code %>"/>
              </td>
              <td>
                <div class="messageVerify "></div>
              </td>
            </tr>
            <tr>
              <td class="labelLeft">
                <span class="requiredFieldLabel">Pembulatan</span>
              </td>
              <td class="field">
                <select id="editFormat">
                  <option value="0">0</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin-top:30px">
      <p align="center" style="font-size:11px">
        <input type="hidden" id="keywords" name="keywords"></input>
        <input id="EditCurrency" type="submit" class="CreateCustomerBtn" name="save" value="Simpan"/>
        atau
        <span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px" id="CancelCurrency">Batal</span>
      </p>
    </div>
  </div>
</div>