<div id='CurrencyDiv'>
  <table class='CurrencyTable'>
    <tbody>
      <tr>
        <td id ='formListCurrency'>
          <div class ='ListCurrencyDiv'>
            <div class="HeaderDIVListCurrency" id="TitleSpan">Mata Uang</div>
            <div class="classPesan"></div>
            <div class="ClassSubMenuDataCurrency" id="idKosong">
              <table width="900px">
                <tr>
                  <td width="400px">
                    <table>
                      <tr>
                        <td>
                          <div class="menuLeft" id="hapus">
                            <div class="floatLeft">Hapus</div>
                            <div class="iconHapus"></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class='ClassListCurrency'>
              <table class='dataCurrency' width='100%' style='border-collapse:collapse;'>
                <thead>
                  <tr style='background :#F0F0F0'>
                    <th class='thDataCurrency tdDataCurrencyCenter textAlignRight' style='width: 6%;'>
                      <input type="checkbox" name="SelectAll" class="SelectAllCurrency"/>
                    </th>
                    <th class='thDataCurrency tdDataCurrencyCenter' style='width: 4%;'></th>
                    <th class='thDataCurrency tdDataCurrencyLeft' style='width: 50%;'>Kode Mata Uang</th>
                    <th class='thDataCurrency tdDataCurrencyLeft'style='width: 20%;'>Lambang Mata Uang</th>
                    <th class='thDataCurrency tdDataCurrencyRight'style='width: 30%;'>Pembulatan</th>
                  </tr>
                </thead>
                <tbody class='BodyDataCurrency'>

                </tbody>
              </table>
            </div>
           
            </div>
          </div>
        </td>
        <td class='MenuFormListCurrency'>
          <div class='BtnTambahCurrency' id='btn-add-currency'>Mata Uang Baru</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='MessageConfirmation'>
  <table>
    <tr>
      <td>
        <div class='ConfirmationHeader'>
          <div class='imagesConfirm'></div>
          <div class='isiConfirmationHeader'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='BodyConfirmationMassage'>
          <div>Apakah anda yakin akan menghapus data ini</div>
          <div class='ButtonConfirmationMassageYa'>Ya</div>
          <div class='ButtonConfirmationMassageTidak'>Tidak</div>
        </div>
      </td>
    </tr>
  </table>
</div>
