<div class='mainFrame'>
  <div class="topBandHeaderDIV">
  
    <div class="HeaderDIVLeft" id="TitleSpan">Mata Uang & Pajak</div>
  </div>
  <div class="error" id="errorCreateItemDiv"></div>
  <div class="mainDivWidth">
    <div class="formGroup">
      <div class="tableRow"></div>
      <table id="subTabHomeTable">
        <tbody>
          <tr>
            <td class="colorBorderTop" width="5px;">
              <img id="img-currency"></img>             
            </td>
            <td class="colorBorderTop">
              <div class="paddingBottom5"><a href="#" id="currencyLink">Mata Uang</a></div>
              <span class="f11"> Tambah Mata uang</span>              
            </td>
          </tr>
          <tr>
            <td class="colorBorderTop">
              <img id="img-tax"></img>
            </td>
            <td class="colorBorderTop">             
              <div class="paddingBottom5">
                <a href="#" id="taxLink">Pajak</a>
              </div>
              <span class="f11"> Tambah pajak</span>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>