
body {
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4;
	margin: 0;
	min-width: 1000px;
}
a{
	text-decoration: none;
	color: Black;
	font-weight: bold;
}
div.container{
	width: 960px;
	margin: auto;
}
input[type="submit"] {
	display: inline-block;
	height: 34px;
	padding: 0;
	position: relative;
	top: 1px;
	margin-left: 10px;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	text-shadow: 1px 1px 0 white;
	white-space: nowrap;
	border: none;
	overflow: visible;
	background: #DDD;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(#E1E1E1));
	background: -moz-linear-gradient(-90deg,white,#E1E1E1);
	border-bottom: 1px solid #EBEBEB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	cursor: pointer;
	margin-left: 1px;
	padding: 0 13px;
	-webkit-font-smoothing: subpixel-antialiased!important;
	border-image: initial;
}
#error
{
    color : Red;
    font-size:13px;
}
div.login-form{
	margin: 5em auto;
	width: 31em;
}
div.login-form h1 {
	color: white;
	font-size: 16px;
	font-weight: bold;
	background: -moz-linear-gradient(top,#829AA8,#405A6A);
	background: -moz-linear-gradient(center top,'#829AA8','#405A6A');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#829aa8',endColorstr='#405a6a');
	background: -webkit-gradient(linear,left top,left bottom,from(#829AA8),to(#405A6A));
	background: -moz-linear-gradient(top,#829AA8,#405A6A);
	border: 1px solid #677C89;
	border-bottom-color: #6B808D;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 8px 18px;
	border-image: initial;
}
div.login-form .formloginbody {
	padding: 2em;
	padding-bottom: 5px;
	background-color: #E9F1F4;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
div.login-form h1 a {
	font-size: 70%;
	font-weight: normal;
	color: #E9F1F4;
	text-shadow: none;
}
div.login-form h1 a:hover {
	text-decoration: underline;
}
div.login-form form label{
	font-size: 110%;
	color: #2F424E;
	text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
	display: inline-block;
	cursor: text;
}
div.formloginbody input.input{
	font-size: 130%;
	height: 1.4em;
	border: 1px #CCC solid;
	padding-left: 5px;
}
.remember {
	float: left;
	padding:0px;
	margin: 0px;
	margin-top: 5px;
}
#labelRemember
{
    margin: 4px 0 0 3px;
    font-size:12px;
    color: #666;
}