<div class="ContextMenuTax" id="ContextMenuCurrency<%= index %>">
<table id="tblContextMenuTAx" width="100%">
    <tr>
        <td id="tdContextMenuTax">
            <div class="EditImageContextTax"></div>
            <div class="itemContextMenuTax">
                <span class="EditContextMenuTax" id="<%=id%>">Ubah</span>
            </div>
        </td>
    </tr>
</table>
</div>