<div id='CustomerDiv'>
  <table class='CustomerTable'>
    <tbody>
      <tr>
        <td id ='formListCustomer'>
          <div class ='ListCustomerDiv'>
            <div class="HeaderDIVListCustomer" id="TitleSpan">Pajak</div>
            <div class="classPesan"></div>
            <div class="ClassSubMenuDataCustomer" id="idKosong">     
            </div>
            <div class='ClassListCustomer'>
              <table class='dataCustomer' width='100%' style='border-collapse:collapse;'>
                <thead>
                  <tr style='background :#F0F0F0'>
                    <th class='thDataCustomer tdDataCustomerCenter textAlignRight' style='width: 6%;'>
                      <input type="checkbox" name="SelectAll" class="SelectAllCustomer"/>
                    </th>
                    <th class='thDataCustomer tdDataCustomerCenter' style='width: 4%;'></th>
                    <th class='thDataCustomer tdDataCustomerLeft' style='width: 50%;'>Nama Pajak</th>
                    <th class='thDataCustomer tdDataCustomerRight'style='width: 20%;'>Jenis</th>
                    <th class='thDataCustomer tdDataCustomerRight'style='width: 20%;'>Persentase (%)</th>
                  </tr>
                </thead>
                <tbody class='BodyDataCustomer'>
                  
                </tbody>
              </table>
          </div>       
         </div>
        </td>
        <td class='MenuFormListCustomer'>
          <div class='BtnTambahCustomer' id='btn-add-tax'>Tambah Pajak</div>
        </td>
      </tr>  
    </tbody>
  </table>
</div>
<div class='MessageConfirmation'>
  <table>
    <tr>
      <td>
        <div class='ConfirmationHeader'>
          <div class='imagesConfirm'></div>
          <div class='isiConfirmationHeader'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='BodyConfirmationMassage'>
          <div>Apakah anda yakin akan menghapus pelanggan ini</div>
          <div class='ButtonConfirmationMassageYa'>Ya</div>
          <div class='ButtonConfirmationMassageTidak'>Tidak</div>
        </div>
      </td>
    </tr>
  </table>
</div>
