<div id='TaxDiv'>
  <table class='TaxTable'>
    <tbody>
      <tr>
        <td id ='formListTax'>
          <div class ='ListTaxDiv'>
            <div class="HeaderDIVListTax" id="TitleSpan">Pajak</div>
            <div class="classPesan"></div>
            <div class="ClassSubMenuDataTax" id="idKosong">
              <table width="900px">
                <tr>
                  <td width="400px">
                    <table>
                      <tr>
                        <td>
                          <div class="menuLeft" id="deleteTax">
                            <div class="floatLeft">Hapus</div>
                            <div class="iconHapus"></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class='ClassListTax'>
              <table class='dataTax' width='100%' style='border-collapse:collapse;'>
                <thead>
                  <tr style='background :#F0F0F0'>
                    <th class='thDataTax tdDataTaxCenter textAlignRight' style='width: 6%;'>
                      <input type="checkbox" id="CheckboxAllTax" class="SelectAllTax"/>
                    </th>
                    <th class='thDataTax tdDataTaxCenter' style='width: 4%;'></th>
                    <th class='thDataTax tdDataTaxLeft' style='width: 50%;'>Nama Pajak</th>
                    <th class='thDataTax tdDataTaxRight' style='width: 20%;'>Persentase (%)</th>
                  </tr>
                </thead>
                <tbody class='BodyDataTax'>
                  
                </tbody>
              </table>
          </div>       
         </div>
        </td>
        <td class='MenuFormListTax'>
          <div class='BtnTambahTax' id='btn-add-tax'>Tambah Pajak</div>
        </td>
      </tr>  
    </tbody>
  </table>
</div>
<div class='MessageConfirmationTax'>
  <table>
    <tr>
      <td>
        <div class='ConfirmationHeaderTax'>
          <div class='imagesConfirmTax'></div>
          <div class='isiConfirmationHeaderTax'>Konfirmasi</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class='BodyConfirmationTax'>
          <div>Apakah anda yakin akan menghapus pelanggan ini</div>
          <div class='ButtonConfirmationTaxYa'>Ya</div>
          <div class='ButtonConfirmationTaxTidak'>Tidak</div>
        </div>
      </td>
    </tr>
  </table>
</div>
