<div>
  <div id='header'>
	  <div class="container">
      <div class="logo">
        <a href="/"> <img src="sales/controllers/nav/images/Dokuku-Logo.gif" height="35px"/></a>
      </div>
		  <ul class="top-nav">
      <li class="home"><a href="" id='login'><%= this.name %></a></li>
        <ul id='setting'>
          <li><a href='' title='Pengaturan Akun'><span class='iconaccount'>Account Setting</span></a></li>
          <li><a href='/logout' title='Keluar'><span class='iconlogout'>Keluar</span></a></li>
        </ul>
		  </ul>
	  </div>
  </div>
  <div id='tabs'>
    <div class="containertabs">
      <ul class="ultabs">
        <li><span>Home</span></li>
        <li id="InvoiceLink"><span>Invoices</span></li>
        <li id="CustomerLink"><span>Customers</span></li>
        <li><span>Setting</span></li>
      </ul>
    </div>
    <div id="subtabs"></div>
  </div>
  <div id="section">
	  <div id='body' class="container"></div>
  </div>
</div>