<ul class="ultabs">
  <li id="HomeLink">
    <span>Home</span>
  </li>
  <li id="InvoiceLink">
    <span>Invoices</span>
  </li>
  <li id="CustomerLink">
    <span>Customers</span>
  </li>
  <li id="SettingLink">
    <span>Setting</span>
  </li>
</ul>