div.divcontainerFormInvoice{
	width:80%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	padding-bottom:20px;
	margin-bottom:20px;
}
div.divheaderFormInvoice
{
    width:95.6%;
    color: #777;
    font-size:18px;
    background:#F7F7F7;
    padding: 20px;
}
div.newInvoiceContain{padding: 0 25px 0 40px;}
div.divInvoiceGroup
{
	margin:20px;
	padding:20px;
	border-top : 1px solid #ECECEC;
	border-bottom : 1px solid #ECECEC;
	background: #F7F7F7;
}
table#itemInvoice
{
    margin:20px;
    width:95.6%;
    border-collapse:collapse;
    padding:0px;
    position:inherit;
}
table#itemInvoice thead
{
    background-color:#F7F7F7;
    color:#777;
    font-size:11px;
    font-weight:bold;
}
table#itemInvoice td{padding-top:10px;padding-bottom:10px;}
table#itemInvoice td.barang{width:170px;}
table#itemInvoice td.desc{width:210px;}
table#itemInvoice td.qty{width:70px;}
table#itemInvoice td.rate{width:70px;}
table#itemInvoice td.disc{width:70px;}
table#itemInvoice td.tax{width:100px;}
table#itemInvoice td.dltItem{width:10px;}
table#itemInvoice td input,table#itemInvoice td textarea,table#itemInvoice td select
{
    width:100%;
    border:1px Solid #a2ddff;
    font-size:11px;
}
table#itemInvoice tbody{font-size:12px;color:#777;}
table#itemInvoice tbody tr td{vertical-align:top;border-bottom:1px solid #eaeaea;}
table#itemInvoice tbody tr:hover{background-color:#FAFAFA;}
table#itemInvoice tfoot{font-size:11px;}
table#itemInvoice tfoot td.borderbottom{border-bottom:1px Solid #eaeaea;}
table#itemInvoice tfoot td.graybgcolor{background-color:#F7F7F7;}
.boldlabel{font-size: 11px;color: #666;font-weight: bold;}
.CustomerMessageTxtArea, .TermsandConditionsTxtArea {
    width: 96%;
    height: 86px;
    padding: 5px;
    border: 1px solid #ACD2E7;
    border-image: initial;
}
span#addItemRow{cursor:pointer;color:#DE7110;text-decoration:underline;}
span#addItemRow:hover{color:#4183C4;}
.TermsandConditionsTxtArea {height: 86px;}
div.clsDeleteItem{display:none;color:#d80000;cursor:pointer;font-weight:bold;}
span.amount{text-align:right;float:right;}
tr.errItemNotFound{background-color:#fff5f5;}
label#currency
{
    display:none;
    background-color:#8BC464;
    color:#fff;
    padding: 2px 3px 2px 3px;
}
label#keteranganSelectCust{color:Red;font-size:11px;}
label#tambahPelanggan, label#moreFieldCustomer{font-size:11px;color:Blue;text-decoration:underline;cursor:pointer;}
label#tambahPelanggan:hover, label#moreFieldCustomer:hover{color:#4183C4;}
div.submitAddCust{margin-top:20px;text-align:center;}
table.hiddenTable{display:none;}
label.additem{font-size:11px;color:Blue;text-decoration:underline;cursor:pointer;}
label.additem:hover{color:#4183C4;}
#firstNameCust{width:193px;}
form#formAddCustDialog{color:#666;}
form#formNewItem{color:#666;}
td.labelLeft
{
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    color: #666;
    width: 152px;
}
input.extRateLeftDIV {
    width: 53px;
    height: 14px;
    float: left;
    text-align: center;
    background-color: #FEFFD8;
    border: 1px solid #D5BF8B;
    color: black;
    padding: 3px;
    white-space: nowrap;
    border-image: initial;
}
input.extRateCenterInput
{
    margin:0;
    border-left: none;
    width: 148px;
    height: 17px;
    float: left;
    border-right: none;
    border:0;
    border-top: 1px solid #ACD2E7;
    border-bottom: 1px solid #ACD2E7;
    padding-top:2px;
}
input.exchangeRateTxtBox {
    width: 53px;
    height: 14px;
    float: right;
    text-align: center;
    background-color: #FEFFD8;
    border: 1px solid #D5BF8B;
    color: black;
    padding: 3px;
    white-space: nowrap;
    border-image: initial;
}
div#divExchangeRate
{
    display:none;
}
div.resultItemDiv
{
	display:none;
	width: 155px;
	position:absolute;
	background-color: white;
	white-space: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 17px 0 #999;
	color: #457BD9;
	padding: 8px;
}
.itemTd
{
	cursor:pointer;
}
td.selected
{
	background-color:#A2DDFF;
}
.itemName
{
	font-size:12px;
	font-weight:bolder;
	width:100%;
}
.itemDesc
{
	width:100%;
	font-size:9px;
}
#DivSearchCustomer{
	display:none;
	background-color: white;
	position: absolute;
	white-space: normal;
	width: 247px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 17px 0 #999;
	color: #457BD9;
	padding: 8px;
}
.DivNamaCustomer{ font-size:14px; font-weight:bolder; color:Black; cursor:pointer;}
.DivFieldCustomer{font-size:11px; color:Gray;}
.DivNamaCustomer:hover { font-size:14px; font-weight:bolder; color:Red; cursor:pointer;}
.selectedCustomer2{ background-color:#DCD9D9; }

#details
{
  min-height:300px;
  width:200px;
  margin-left:20px;
  margin-right:0px;
  padding-top:20px;
  padding-bottom:20px;
 border-radius: 4px; 
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 margin-top:20px;
 background:#F7F7F7;
 color: #457BD9;
 border : 1px solid #ECECEC;
 vertical-align:top;
 display:block;

}
.vertical-align
{
  vertical-align:top;     
}
header 
{
  
   vertical-align:text-top;
   color:Gray;
}

.paddingleft
{
    margin-left:20px;    
}
.height
{
     height:30px;
}
.right
{
    margin-right:20px;    
}
.confirmPaymentDialogDetail
{
	background-color:#FFFFFF;
	margin-bottom:20px;
	overflow:hidden;
	resize: none;
	-webkit-box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
	position:absolute;
	z-index:750;
	top: 50%;
	left:38%;
	margin:auto;
	width:315px;
	height:150px;
}
customer{text-align:left;color:Gray;display:inherit;}
vCustomer{ text-align:left; vertical-align:text-top; display:inherit;color:Black;} 
creditAvailable{ text-align:left;color:Gray; vertical-align:text-top; display:inherit;} 
vCreditAvailable{ text-align:left; color:Black; vertical-align:text-top; display:inherit;}

invoice{text-align:left;color:Gray;display:inherit;}
vInvoice{ text-align:left; vertical-align:text-top; display:inherit;color:Black;} 
balanceDue{ text-align:left;color:Gray; vertical-align:text-top; display:inherit;} 
vBalancedue{ text-align:left; color:Black; vertical-align:text-top; display:inherit;}
hr{ border :1px Inside #F7F7F7; border-color:#F7F7F7}

#paymentForm
{
    border :1px Inside #F7F7F7;
    display:block;
    margin-top:20px;
    margin-left:30px;
}
groupAmount{display:inherit;}
Reference{display:inherit;}
Notes{display:inherit;}
#tblemail{ background-color:#F7F7F7;}
AmountReceived{color:#9C0000; }
vAmountReceived{color:#9C0000; min-width:150px; max-height:100px;}
BankCharges{color:#9C0000}
PaymentDate{color:#9C0000}
required{color:Black;}
#vAmountReceived{ width:160px;}
#vBankCharges{width:130px;}
#valueBankCharges{width:120px;}
#lbl-withheld{color:#9C0000;}
.cls-withheld{margin-left:40px; }
#vAmountWittheld{width:90px;}
#p-amount-withheld{ background-color:#F7F7F7; padding:5px;}
.cls-bankCharges{ margin-left:30px;}
invoiceDate{text-align:left;color:Gray;display:inherit;}
vInvoiceDate{text-align:left; vertical-align:text-top; display:inherit;color:Black;}