<table style="width:100%; margin-bottom:25px">
  <tr>
    <td>
      <div class="ListItemDiv">
        <div class="HeaderListDiv">Terima Pembayaran</div>
        <div class="ItemListContentDiv">
          <div class="ActionButtonDiv">
            <table width="100%">
              <tr>
                <td>
                  <!--<table>
                    <tr>
                      <td>
                        <div class="menuLeft" id="deleteItem">
                          <div class="floatLeft">Hapus</div>
                          <div class="iconHapus"></div>
                        </div>
                      </td>
                    </tr>
                  </table>-->
                </td>
                <td style="float: right;">
                  <table>
                    <tr>
                      <td>
                        <div style="color:grey;">Tampilkan :</div>
                      </td>
                      <td>
                        <div>
                          <div class=" floatRight menuLeft">
                            <div class="floatRight" id="showAllItem">Semua</div>
                            <div class="imgFilter floatRight"></div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class=" floatLeft">
                          <!--<div class="DivSearch">
                            <div class="imgSearch">
                              <input type="input" id="searchItem" placeholder="Cari"/>
                            </div>-->
                          </div>
                          <div class="searchOption">
                            <table id="autoCompleteItems" style="width:100%"></table>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <table class="ItemList">
            <thead>
              <tr style="background:#F0F0F0;">
                <th class="headerList headerMark">
                  <input type="checkbox" id="checkBoxAllList" value="" />
                </th>
                <td class="tblCheck" style="width:30px"></td>
                <td class="tblNoInv">Tanggal</td>
                <td class="tblPO">Nama Pelanggan</td>
                <td class="tblNamaPelanggan">Tipe</td>
                <td class="tblTanggal center">Reference#</td>
                <td class="tblTotal right">Balance</td>
                <td class="tblDue center">Jumlah</td>
              </tr>
            </thead>
            <tbody class="BodyDataItem">

            </tbody>
          </table>
        </div>
        <!--<div class ='PagingItems'>
          <div class ='DivPrev'>
            <img class ='first'></img>
            <img class ='prev'></img>
          </div>
          <div class ="disablePrev" style="display:none;">
            <img class ='firstDisable'></img>
            <img class ='prevDisable'></img>
          </div>
          <div class ='DivPage'>
            Halaman <input type='text' id='idInputPage' style="width:20px; height:14px"/> dari <span id="totalPage"></span>
          </div>
          <div class='DivNext'>
            <img class ='next'></img>
            <img class ='last'></img>
          </div>
          <div class ="disableNext" style="display:none;">
            <img class ='nextDisable'></img>
            <img class ='lastDisable'></img>
          </div>
          <div class='DivlimitData'>
            <select class="limit" id="limitData" style="width:50px; height:21px">
              <option value="10" selected="selected"> 10 </option>
              <option value="20"> 20 </option>
              <option value="30"> 30 </option>
              <option value="40"> 40 </option>
            </select>
          </div>
        </div>-->
      </div>
    </td>
    <!--<td style="width:20%;vertical-align:top; padding:30px 0 0 10px;">
      <div class='BtnNew'  id="gotoCreateItem">Tambah Barang</div>
    </td>-->
  </tr>
</table>