div.uploadlogoleft
{
    float:left;
    width: 150px;
}
div.uploadlogoright
{
    width: 400px;
    float:right;
}
div.labelLogoUpload
{
    font-size:18px;
    font-weight:normal;
    margin-bottom:5px;
}
div.divchooselogo
{
    border: 1px Solid #CCC;
    padding: 7px;
}
span.typefile
{
    font-size:11px;
    color:#666;
}
input[type="file"]
{
    border:1px Solid #A2DDFF;
    background-color:White;
    padding:2px;
    width:300px;
}
img.logo
{
    width:140px;
    height: 100px;
    border:1px dashed #CCC;
    background-color:White;
    vertical-align:bottom;
}