<div id='header'>
	<div class="container">
    <div class="logo">
      <img src="sales/controllers/home/images/Dokuku-Logo.gif" width="150px"/>
    </div>
		<ul class="top-nav">
      <li class="home">
        <a href="" id='login'><%= this.name %></a>
      </li>
      <ul class='setting'>
        <li>
          <a href='' original-title='Account Setting'>
            <span class='icon'>Account Setting</span>
          </a>
          </li>
        <li>U</li>
      </ul>
		</ul>
	</div>
</div>
<div id="section">
	<div id='body' class="container"></div>
</div>