<div id='header'>
	<div class="container">
    <div class="logo">Dokuku</div>
		<ul class="top-nav">
      <li class="home">
        <a href="/logout" id='login'>Home</a>
      </li>
			<li class="logout">
				<a href="/logout" id='login'>Keluar</a>
			</li>
		</ul>
	</div>
</div>
<div id="section">
	<div id='body' class="container"></div>
</div>