<form id="formAddCustDialog" method="POST">
  <table width="100%">
    <tr>
      <td width="30%" class="right">
        <div class="mandatoryTxt">Nama Pelanggan</div>
      </td>
      <td width="70%" class="left">
        <input type="text" required/>
      </td>
    </tr>
    <tr>
      <td class="right">Mata Uang</td>
      <td class="left">
        <select>
          <option>IDR - Rupiah</option>
          <option>USD - US Dollar</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="right">Nama Awal</td>
      <td class="left">
        <input type="text" required/>
      </td>
    </tr>
    <tr>
      <td class="right">Nama Akhir</td>
      <td class="left">
        <input type="text" required/>
      </td>
    </tr>
    <tr>
      <td class="right">Telepon#</td>
      <td class="left">
        <input type="text" required/>
      </td>
    </tr>
    <tr>
      <td class="right">Email</td>
      <td class="left">
        <input type="email" required/>
      </td>
    </tr>
    <tr id="trmoreFieldCustomer">
      <td class="right"></td>
      <td class="left">
        <label id="moreFieldCustomer">klik ini untuk keterangan lainnya</label>
      </td>
    </tr>
  </table>
  <table width="100%" class="hiddenTable">
    <tr>
      <td width="30%" class="right">
        Alamat
      </td>
      <td width="70%" class="left">
        <textarea></textarea>
      </td>
    </tr>
    <tr>
      <td class="right">Kota</td>
      <td class="left">
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td class="right">Provinsi</td>
      <td class="left">
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td class="right">Kode Pos</td>
      <td class="left">
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td class="right">Negara</td>
      <td class="left">
        <input type="text"/>
      </td>
    </tr>
    <tr>
      <td class="right">Fax</td>
      <td class="left">
        <input type="email"/>
      </td>
    </tr>
  </table>
  <div class="submitAddCust">
    <input type="submit" value="Simpan dan Pilih"/>
    <input type="button" value="Cancel" id="btnCancelAddCust"/>
  </div>
</form>