<div class="divcontainerFormInvoice">
  <div class="topBandHeaderDIV">
    <div id="TitleSpan" class="HeaderDIVLeft">Buat Faktur</div>
  </div>
  <form method="POST" id="formNewIvoice">
    <div class='newInvoiceContain'>
      <div class='divInvoiceGroup'>
        <table width='100%'>
          <tbody>
            <tr>
              <td class="labelLeft">
                <div class="mandatoryTxt">Pilih Pelanggan</div>
              </td>
              <td class="td_field">
                <input type="hidden" id="CustomerId" value="<%=this._id%>"/>
                <input type='text' name="customer" id="selectcust" value="<%=this.Name%>" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('pelanggan harus dipilih')"/>
                <div class="DivSearchCustomer" id="DivSearchCustomer">
                  <table id="tblSearchCustomer" width="100%">
                    <tbody id="bodySearchCustomer">

                    </tbody>
                  </table>
                </div>
              </td>
              <td class="error">
                <label id="keteranganSelectCust"></label>
                <label id="currency"><%=this.Currency%></label>
              </td>
            </tr>
            <tr valign="top">
              <td></td>
              <td><label id="tambahPelanggan">Tambah Pelanggan</label></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class='divInvoiceGroup'>
        <table width='100%'>
          <tbody>
            <tr>
              <td class="labelLeft">
                <div class="mandatoryTxt">Nomor Faktur</div>
              </td>
              <td class="td_field">
                <input type='text' readonly='' value='Will be auto generated'/>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Nomor PO</td>
              <td class="td_field">
                <input type='text' name='po' id='po'/></td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Tanggal Pembuatan Faktur</td>
              <td class="td_field">
                <input type="date" name='invoiceDate' class='datepicker' id='invDate' readonly/>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Termin</td>
              <td class="td_field">
                <select name='terms' id='terms'>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                  <option value="60">60</option>
                  <option value="0" selected>Due On Receipt</option>
                  <option value="-1">Due on the specified date</option>
                </select>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Tanggal Jatuh Tempo</td>
              <td class="td_field">
                <input type='date' name='dueDate' class='datepicker' id='dueDate' readonly/>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Denda Keterlambatan</td>
              <td class="td_field">
                <select name='latefee' id='latefee'>
                  <option value="15">No Late Fee</option>
                </select>
              </td>
              <td class='error'></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='divInvoiceGroup' id='divExchangeRate'>
        <table>
          <tr>
            <td class="labelLeft">Nilai Tukar Mata Uang</td>
            <td width='272px'>
              <div style="float: left; display: block; ">
                <input type="hidden" id="custCcyCode"/>
                <input type="text" readonly class="extRateLeftDIV" id="custCcy"/>
                <input type="text" id="custRate" class="extRateCenterInput" value="1"/>
                <input type="text" readonly class="exchangeRateTxtBox" id="baseCcy"/>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table id='itemInvoice' cellpadding='5px'>
        <thead>
          <tr>
            <td class='barang'>Barang</td>
            <td class='desc'>Deskripsi</td>
            <td class='qty right'>Kuantitas</td>
            <td class='rate right'>Harga</td>
            <td class='disc right'>Diskon(%)</td>
            <td class='tax'>Pajak</td>
            <td class='amounthd right'>Jumlah</td>
            <td class='dltItem'></td>
          </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
          <tr>
            <td>
              <span id='addItemRow'>Tambah Baris</span>
            </td>
            <td colspan='3'></td>
            <td colspan='2' class='right borderbottom'>Sub Total</td>
            <td class='right borderbottom'>
              <span id='subtotaltext'></span>
              <input type='hidden' id='subtotal'/>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan='4'></td>
            <td colspan='2' class='right bold borderbottom graybgcolor'>Total (<span id='curr'></span>)</td>
            <td class='right bold borderbottom graybgcolor'>
              <span id='totaltext'></span>
              <br/>
              <input type='text' id='total'/>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <div class='divInvoiceGroup'>
        <table width='100%' cellpadding='0px'>
          <tr>
            <td width='40%'>
              <b class='boldlabel'>Catatan</b>
            </td>
            <td width='60%'>
              <b class='boldlabel'>Syarat dan Ketentuan</b>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name='custMsg' id='custMsg' class="CustomerMessageTxtArea">Terima kasih atas kerjasamanya</textarea>
            </td>
            <td>
              <textarea name="termAndCond" id="termAndCond" class="TermsandConditionsTxtArea"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div style="margin-top:30px">
        <p align="center" style="font-size:11px">
          <input id="NewInvoiceSave" type="submit" name="save" value="Simpan"/>
          atau
          <span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px" id="btnCancelInvoice">Batal</span>
        </p>
      </div>
    </div>
  </form>
  <div class="error" id="errorCreateInv"></div>
</div>
