div#header{
	height: 35px;
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
	background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
	position:relative;
	border-bottom: 1px solid #CACACA;
	z-index: 10;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
	padding-bottom:2px;
	margin-bottom: 20px;
	position:fixed;
}
div.container{
	width: 1000px;
	margin: auto;
}
ul.top-nav{
	list-style : none;
	line-height: 26px;
	float: right!important;
	padding: 6px 0;
	margin: 0 0 0 20px;
}
ul.top-nav li{
	float: left;
	padding: 0 0 0 20px;
}
ul.top-nav a:hover {
	text-decoration: none;
	color: #4183C4;
}
div.logo
{
    float:left;
    border-right:1px solid #dddcdc;
    padding: 5px 0;
    padding-right:5px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    font-family:Tahoma;
}
div.logo:hover
{
    color:#4183C4;
}
ul.setting{
    background: linear-gradient(#F1F1F1,#E0E0E0);
    background: -moz-linear-gradient(#F1F1F1,#E0E0E0);
    background: -ms-linear-gradient(#F1F1F1,#E0E0E0);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F1F1F1),color-stop(100%,#E0E0E0));
    background: -webkit-linear-gradient(#F1F1F1,#E0E0E0);
    background: -o-linear-gradient(#F1F1F1,#E0E0E0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
    background: linear-gradient(#F1F1F1,#E0E0E0);
    float: left;
    margin: 2px 0 0 20px;
    padding: 0;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fafafa,inset 0 1px 0 #fafafa;
    list-style: none;
    border-image: initial;
}
ul.setting li {
    position: relative;
    float: left;
    margin: 0 0 0 10px;
}
ul.setting .icon {
    display: inline-block;
    margin: 0;
    background: url('/sales/controllers/home/images/icon.png') 0 0 no-repeat;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
}