div#DashboardView{
    font-family:"Lucida Grande",Arial,Verdana,Helvetica,sans-serif;
	height : 100%;
	width : 75%;
	border : 1px solid #ECECEC;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	padding:10px;
}