div#header{
	height: 35px;
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
	background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
	position:relative;
	border-bottom: 1px solid #CACACA;
	z-index: 10;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
	padding-bottom:2px;
	margin-bottom: 20px;
	position:fixed;
}
div.container{
	width: 1000px;
	margin: auto;
}
ul.top-nav{
	list-style : none;
	line-height: 26px;
	float: right!important;
	padding: 6px 0;
	margin: 0 0 0 20px;
}
ul.top-nav li{
	float: left;
	padding: 0 0 0 20px;
}
ul.top-nav li.login a {
	color: #2D9F00;
}
ul.top-nav a:hover {
	text-decoration: none;
	color: #4183C4;
}
div.logo
{
    float:left;
    border-right:1px solid #dddcdc;
    padding: 5px 0;
    padding-right:5px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    font-family:Tahoma;
}
div.logo:hover
{
    color:#4183C4;
}
div#section
{
    height:800px;
}