div.mainFrame
{
	width:988px;
	border-color:#999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 4px 0 #999;
	-webkit-box-shadow: 0 0 4px 0 #999;
	box-shadow: 0 0 4px 0 #999;
	margin-left:30px;
}

div.topBandHeaderDIV {
	padding: 20px 25px;
	margin: 0;
	background: #F7F7F7;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.HeaderDIVLeft {
	font-size: 21px;
}

div.mainDivWidth
{
	margin: 0 25px 30px 25px;
	padding-top: 35px;
	text-align: left;
}

div.ProductFormDiv
{
	background-color: #F7F7F7;
	margin: 0;
	padding: 17px 0;
	margin-bottom: 25px;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
}
.labelLeft
{
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
	color: #666;
	width: 152px;
	vertical-align: top;
}

.requiredFieldLabel
{
	color: #9C0000;
}
.field
{
	width: 272px;
}

.field input, .field textarea, .field select
{
	margin-bottom: 15px;
	border: 1px solid #ACD2E7;
	border-image: initial;
	width:100%;
}

#createTaxLink
{
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}

div.submitFormDiv
{
	margin-top:30px;
	text-align: -webkit-center;
}
div.submitFormDiv span
{
	height: 20px;
	position: relative;
	top: 1px;
}

div.submitFormDiv a.cancelSubmitLink
{
	cursor: pointer;
	text-decoration: underline;
	color: red;
}
#submitNewTax
{
	border-top: 1px dashed #DBDBDB;
}
div.error{
	display:none;
	color:#fff;
	padding: 2px;
	padding-left: 10px;
	width: 100%;
	background-color:#FF6A6A;
	border: 1px Solid #E00;
}